@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

body {
  background-color: rgb(250, 231, 218);
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header, .form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input, .form button {
  border: 0;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
  outline: 0;
}

.form button {
  color: #ff438b;
  background-color: #f7fff3;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #ff438b;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: #fff;
  font-size: 1.1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.todo i {
  pointer-events: none;
}

.complete-btn, .trash-btn {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #ff438b;
  font-size: 1rem;
}
 .complete-btn {
  background-color: rgb(11, 212, 162);
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.filter-todo {
  padding: 1rem;
}

select {
  color: #ff438b;
  cursor: pointer;
  width: 12rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;

}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff438b;
  cursor: pointer;
  pointer-events: none;
  color: #fff;
}